<div class="container">
	<div class="jumbotron">
		<article>			
			<header>
				<h1><%= @procedure.name %></h1> 			
			</header>
			<hr>
				<div class="panel-body">
					<h3>Descrição</h3>
						<div class="panel panel-default">
							<p style= "text-align: justify;"><%= simple_format @procedure.description%></p>
						</div>
				</div>
		</article>
		<table class="table">
			<tr>
				<td><h4><b>Práticas</b></h4></td>
				<td><h4><b>Descrição</b></h4></td>
			</tr>
			<% @procedure.pratices_procedures.order(:pratice_id).each do |pratice| %>
				<tr>
					<td><%= pratice.pratice.name %></td>
					<td><%= pratice.pratice.description %></td>
				</tr>
			<%end%>
		</table>
		<hr>
		<%= link_to edit_procedure_path(@procedure), class:'btn btn-default' do %>
		 		<i class="glyphicon glyphicon-edit">Editar</i>
			<%end%>

		<%= link_to "Deletar Processo", procedure_path(@procedure),method: :delete, data:{ confirm: "Deseja deletar este Processo?"}, class:'btn btn-default'%>
		
		<%= link_to "Votlar", procedures_path(@procedure), class:'btn btn-default'%>
	</div>
 </div>