<nav class="navbar navbar-default ">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag('AQbrand.png', size:'30', alt:'AgileQA'), root_path, class:'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Projetos', projects_path %></li>
          <li><%= link_to 'Membros', members_path %></li>
          <li><%= link_to 'Papéis', roles_path %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to 'Processos', procedures_path %></li>
          <li><%= link_to 'Práticas', pratices_path %></li>
          
          <li class="divider-vertical"></li>
          <li><%= link_to 'Auditorias', index_audit_projects_path %></li>
          <li><%= link_to 'Não Conformidades', index_unconformities_projects_path %></li>
        </ol>
          
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>